* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 100px;
  gap: 40px;
}


.btn-text {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.card {
  width: 590px;
  padding: 15px;
  border-radius: 20px;
  backdrop-filter: blur(33px);
  border: 2px solid wheat;
  filter:drop-shadow( rgb(146, 73, 73) 10px 4px 10px );
}

.card p {
  font-size: 32px;
  margin-top: 50px;
  color: white;
  font-style: italic; 
  font-family: "Georgia", serif; 
}

.card h1 {
  font-size: 63px;
  color: white;
}

.card-img img {
  width: 500px;
  border-radius: 10px;
}
.card button {
  width: 150px;
  height: 50px;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  font-weight: 700;
  margin-top: 50px;
}
@media only screen and (max-width:400px){
  .container {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    margin-top: 100px;
    gap: 40px;
    justify-content: center;
    place-items: center;

  }
  .card-img img,
  .card{
    width: 330px;
  }
}