* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: -50%;
}

.card {
  width: 590px;
  padding: 15px;
  border-radius: 20px;
  background: rgb(5, 5, 10, .4);
  backdrop-filter: blur(33px);



}

.card p {
  font-size: 32px;
  margin-top: 50px;
  color: white;
}

.card h1 {
  font-size: 63px;
  color: white;
}

.card-img img {
  width: 500px;
  border-radius: 10px;
}

.card button {
  width: 150px;
  height: 50px;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  font-weight: 700;
  margin-top: 50px;
}