* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
}

nav {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  align-items: center;
}


.center {
  display: flex;
  align-items: center;
  color: white;
  gap: 40px;
}

.center .nav-p {
  font-size: 15px;
  font-weight: 700;
  border: 2px solid wheat;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  transition: .7s;
}

.center .nav-p:hover {
  background: white;
  color: black;
  border: 2px solid black;
}

.center input {
  width: 220px;
  height: 35px;
  border-radius: 7px;
  border: none;
  font-size: 20px;
  padding: 10px;
}

.center input::placeholder {
  font-size: 17px;
  font-weight: 700;
}

.center input:focus {
  outline: none;
}

.search {
  border: 2px solid white;
  background: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.search-inp {
  color: #000;
  font-size: 23px;
  font-weight: 700;
}

.left .admin {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  font-size: 22px;
  color: white;
  cursor: pointer;
}

.left {
  display: flex;
  align-items: center;

}

.left button {
  width: 120px;
  height: 40px;
  border-radius: 10px;
}



@media only screen and (max-width:400px) {

  .center .nav-p {
    font-size: clamp(10px, 2vw, 18px);
  }

  .search {
    display: none;
  }

  .center {
    position: absolute;
    top: 17%;
    display: flex;  
    justify-content: center;
    margin: auto;
    left: 8%;
    opacity: 0;
    transition: .4s;
  }

  .left .admin {
    display: none;
  }

  nav {
    display: flex;
    justify-content: space-between;
    padding: 5px;
  }

  .left .menu {
    font-weight: 700;
    font-size: 20px;
    border: none;
    border: 2px solid white;
    width: 50px;
    height: 40px;
    padding: 3px;
    border-radius: 8px;
  }
}